.layout-container {
  display: flex;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .login-header {
    margin-bottom: 20px;
    margin-left: 120px;
  }
  
  .login-actions {
    margin-top: 20px;
  }
  
  .login-form {
    
  }

  .login-logo {
   padding: auto;
    
  }
  
  .form-input {
    margin-bottom: 10px;
  }

  .form-input input {
    width: 150%;
    padding: 10px;
    border: 0.5px solid;
    border-radius: 9px;
  }
  
  .shortcut {
    color: blue;
    cursor: pointer;
    font-size: 12px;
    margin-left: 3px;
}

.motto {
    font-size: small;
    margin-bottom: 30px;
}
  

.sweet {
    color: rgb(9, 156, 156);
}

.copyright {
    font-size: 10.5px;
    
}

footer {
    margin-top: 7px;
}

.dropbox-container {
    text-align: center;
}

.dropbox-wrapper {
    margin-bottom: 10px;
    cursor: pointer;
}

.dropbox-wrapper textarea {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button-wrapper input[type='file'] {
    margin-right: 10px;
}

label {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.submit-btn {
    cursor: pointer;
}

.post-container {
  display: flex;
}

.post-wrapper {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-item {
  list-style: none;
  padding: 0;
}

.post-item li {
  margin-bottom: 20px;
}

.about {
    display: flex;
    padding-left: 15px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.footer {
  background-color: #f8f9fa;
  color: #495057;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}